<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25487299842-5it0h8isg34dv0rtdh462jb66gd2siif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25487299842-5it0h8isg34dv0rtdh462jb66gd2siif</string>
	<key>API_KEY</key>
	<string>AIzaSyC0RkswsnGlz16P242BltRgGkNLq8xpjtw</string>
	<key>GCM_SENDER_ID</key>
	<string>25487299842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>vize-30120070</string>
	<key>STORAGE_BUCKET</key>
	<string>vize-30120070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25487299842:ios:f10ef62c10cf888d2b9e1b</string>
</dict>
</plist>